img{
    width: auto;
    height: auto;
}
p{
    padding: 0;
}
a:hover{
    color: black;
}
.clearfix{
    clear: both;
}
.swiper-slide img{
    width: 100%;
}
.swiper-slide{
    position: relative;
}
.slide-text{
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 3;
    font-size: 36px;
    line-height: 38px;
    color: #d3ae44;
}
.container{
    width: 1065px;
    margin: auto;
}
#signatures {
    padding: 40px 0;
    padding-top: 60px;
    padding-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    }
.welcome-to-ubin{
    line-height: 1.2;
    padding: 23px;
    background: #f2f2f2;
    padding-top: 0;
}
.welcome-to-ubin p{
    font-size: 23px;
    margin-bottom: 10px;
}
.welcome-to-ubin p span{
    font-weight: bold;
}
.home-menu-item-box{
    margin: 0;
}
.home-menu-item-box img{
    width: 100%;
}
.home-menu-item-box{
    width: 48%;
    display: inline-block;
    float: left;
    padding: 1%;
}
.welcome-content{
    padding: 17px;
    background: white;
    box-shadow: 0px 2px 6px 0px rgb(186, 186, 186);
    margin-top: -6px;
    background: white;
    margin-bottom: 20px;
}
.home-menu-item-box .image-des{
    color: red;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    background: white;
    padding: 10px 0;
    box-shadow: 0px 2px 6px 0px rgb(186, 186, 186);
}
.home-menu-item-block{
    margin: -1%;
}
.logo{
    text-align: center;
}
.logo img{
    width: 200px;
}
.menu-logo img{
    width: 77px;
    vertical-align: middle;
    margin-top: -3px;
}
.menu-logo a{
    padding: 0;
}
.about-us-block .about-us-des{
    width: 60%;
    float: left;
}
.about-us-block .about-us-img{
    width: 40%;
    float: left;
}
.about-img {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 5px;
}
.about-img img{
    width: 100%;
}
.center-img{
    text-align: center;
}
.center-img img{
    width: 100%;
    max-width: 680px;
}
.about-us-des p{
    margin-bottom: 15px;
}
.tab-content .w50{
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
.promotion-block p{
    margin-bottom: 10px;
}
.promotion-block a{
    color: blue;
}
#googleMap{
    width: 100%;
    height: 400px;
}
.gallery-block{
    font-size: 0;
}
.gallery-block .fancybox{
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    display: inline-block;
}
.gallery-block .fancybox img{
    width: 100%;
}
.row-field .field{
    width: 50%;
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
}
.row-field .field label{
    display: block;
    font-weight: bold;
}
.row-field .field label p, .row-field .field p{
    font-weight: normal;
    display: inline-block;
}
.row-field .field label span{
    color: rgb(255, 0, 107);
}
.contact-block .gl-input{
    width: 100%;
    height: 25px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact-block .field, .sub-field{
    margin-bottom: 20px;
}
.table-person .sub-field input{
    width: 20%;
}
.contact-block select{
    width: 30%;
    height: 30px;
}
.contact-block textarea{
    width: 100%;
    height: 95px;
    resize: vertical;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lunch-dinner{
    margin-bottom: 0;
}
.contact-block button{
    width: 80px;
    height: 30px;
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.mandatory-guide{
    font-size: 13px;
    font-style: italic;
    color: rgb(255, 0, 107);
    text-decoration: underline;
}
.thankyou-block p span{
    font-weight: bold;
}
.thankyou-block p{
    margin-bottom: 15px;
}
.action-block a.submit-btn{
    background: #04937f;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .25);
    font-weight: 400;
    text-transform: uppercase;
    font-family: Lato;
    border: 0;
    font-size: 17px;
    border-radius: 4px;
    padding: 10px 20px;
    text-shadow: none;
    color: #fff;
    display: block;
    text-align: center;
    clear: both;
    display: inline-block;
    font-family: Arial;
    cursor: pointer;
}
.action-block a.clear-btn, .action-block a.clear-btn:hover{
    font-size: 17px;
    text-decoration: underline;
    margin-left: 20px;
    cursor: pointer;
    color: #000;
}
/*Menu page*/
.main-food-img img{
    width: 100%;
}
.w60{
    width: 60%;
    float: left;
}
.w40{
    width: 40%;
    float: left;
}
.food-size span{
    display: inline-block;
    width: 50px;
}
.full-row-food{
    margin-top: 15px;
    font-style: italic;
    margin-bottom: 12px;
    font-size: 13px;
}
#menu{
    position: relative;
}
.makes-reservation{
    z-index: 9;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 30px;
    position: absolute;
    right: 0;
    bottom: -42px;
    color: #000;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    background: #e2bb52;
    background: -moz-linear-gradient(top, #f6d86e 0%, #e2bb52 5%, #b9994e 60%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6d86e), color-stop(5%,#e2bb52), color-stop(60%,#b9994e));
    background: -webkit-linear-gradient(top, #f6d86e 0%,#e2bb52 5%,#b9994e 60%);
    background: -o-linear-gradient(top, #f6d86e 0%,#e2bb52 5%,#b9994e 60%);
    background: -ms-linear-gradient(top, #f6d86e 0%,#e2bb52 5%,#b9994e 60%);
    background: linear-gradient(to bottom, #f6d86e 0%,#e2bb52 5%,#b9994e 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d86e', endColorstr='#b9994e',GradientType=0 );
}
.makes-reservation:hover{
    color: #8B0404;
}
.main-menu-title{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.food-title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;  
    margin-bottom: 3px;
}
.food-size.size{
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.main-menu-block{
    margin-bottom: 40px;
}
.text-size1{
    font-size: 12px;
    
}
.menu-text p{
    text-transform: uppercase;
    line-height: 1.3;
}
.menu-text p a:hover{
    color: black;
}
.menu-text p.down{
    text-transform: none;
    font-size: 16px;
}
.w50{
    width: 50%;
    float: left;
}
.footer .logo{
}
.address span{
    font-weight: bold;
}
.footer{
    padding-top: 50px;
    margin-top: 20px;
}
.address{
    padding-top: 20px;
    display: inline-block;
    font-size: 16px;
}
.site-map{
    width: 90%;
    text-align: center;
    margin: auto;
}
.nav-footer li{
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 5px;
    display: inline-block;
}
.nav-footer li:after{
    content: '|';
    margin: 0 10px;
    font-size: 16px;
}
.nav-footer li:first-child{
    padding-left: 0;
}
.nav-footer li:last-child{
    border: none;
}
.footer{
    padding-bottom: 20px;
}
.selector-wrapper.hide{
    display: none !important;
}
.copy-right-text{
    padding: 0 20px;
    margin-top: 20px;
    border-top: 1px solid;
    padding-top: 20px;
    text-align: center;
}
/*End Menu page*/