/*Responsive style goes here*/
@media screen and (min-width: 1067px) and (max-width: 1180px) {
    /*style goes here*/
    
    nav li{
    	font: bold 13px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    .menu-logo img {
		width: 71px;
	}
}
@media screen and (min-width: 1066px) {
    /*style goes here*/
}
@media screen and (max-width: 1065px) {
    /*style goes here*/
    
    .container {
        width: 90%;
    }
    .gallery-block .fancybox {
        width: 33.333%;
    }
    .menu-logo img {
		width: 68px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1065px) {
    /*style goes here*/
    
    nav li a {
        padding: 16px 8px;
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    /*style goes here*/
    .gallery-block .fancybox {
        width: 50%;
    }
    .site-map a{
    	font-size: 10px;
    	line-height: 1.2;
    	margin-bottom: 0;
    }
    .address{
    	font-size: 13px;
    }
    .menu-logo img {
		width: 54px;
	}
	.makes-reservation{
		bottom: -40px;
	}
    .footer .w50{
    	width: 100%;
    }
    .food-size span{
    	width: 30px;
    }
    .row-field .field{
    	width: 100%;
    }
    .menu-block{
    	font-size: 11px;
    }
    .full-row-food {
		margin-top: 10px;
		margin-bottom: 8px;
		font-size: 9px;
		line-height: 1.3;
	}
	.food-title {
		font-size: 13px;
	}
	.main-menu-title {
		font-size: 18px;
		margin-bottom: 14px;
	}
    .slide-text {
        position: absolute;
        top: 23%;
        left: 20%;
        z-index: 3;
        font-size: 18px;
        line-height: 20px;
        color: #d3ae44;
    }
    .tab-content .w50 {
        width: 100%;
    }
    .welcome-to-ubin p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .welcome-content {
        padding: 10px;
        font-size: 11px;
    }
    .about-us-block .about-us-des, .about-us-block .about-us-img {
        width: 100%;
    }
}
