@charset "utf-8";
/*=================================*/
/* Website
/* By:Goh Kai Yi
/* http://fifthstorey.com
/*=================================*/

/*====================*/
/*====  Skeleton  ====*/
/*====================*/
html 									{ overflow-y:scroll; overflow:-moz-scrollbars-vertical; }
body									{ margin:0; padding:0; background-color:#fff; font:14px/22px "Trebuchet MS", Helvetica, Arial, sans-serif,  微软雅黑, 黑体; color:#43340a; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; text-shadow:0px 1px 0px #fff; }

/* wrappers
----------------------------------------------- */
section									{ position:relative; padding:70px 0; background:url(../images/section-gradient.gif) center bottom repeat-x #fff; }
section:before							{ position:absolute; content:""; display:block; background:url(../images/divider.png) center top no-repeat; width:100%; height:12px; top:-1px; z-index:1; }
section.nodivider:before				{ display:none; }


/*====================*/
/*======  Text  ======*/
/*====================*/
h1, h1 a								{ font:32px/34px Georgia, "Times New Roman", Times, serif; text-align:center; margin:0 0 30px 0; padding:0; color:#d3ae44; text-transform:uppercase; text-shadow:0px 1px 0px #63562e; border-bottom:1px solid #d3ae44; vertical-align:top; }
h1:before, h1:before a					{ content:""; display:inline-block; width:80px; height:41px; margin-right:20px; background:url(../images/emblem-left.png) center center no-repeat; -webkit-background-size:80px; -moz-background-size:80px; -o-background-size:80px; background-size:80px; }
h1:after, h1:after a					{ content:""; display:inline-block; width:80px; height:41px; margin-left:20px; background:url(../images/emblem-right.png) center center no-repeat; -webkit-background-size:80px; -moz-background-size:80px; -o-background-size:80px; background-size:80px; }

h1.white, h1.white a					{ color:#fff; border-color:#fff; }
h1.white:before, h1.white:before a		{ background-image:url(../images/emblem-left-white.png); }
h1.white:after, h1.white:after a		{ background-image:url(../images/emblem-right-white.png); }

h2, h2 a								{ margin:0 0 5px 0; padding:0; font-size:16px; line-height:20px; color:#43340a; text-transform:uppercase; vertical-align:top; }
h2.white, h2.white a					{ color:#fff; }
h2 .icon								{ display:inline-block !important; width:20px; text-align:center; margin-right:5px; }

h3, h3 a 								{ margin:0 0 10px 0; padding:0; font-size:24px; line-height:28px; color:#333; }
h4, h4 a								{ margin:0 0 10px 0; padding:0; font-size:18px; line-height:22px; color:#333; }
h5, h5 a 								{ margin:0 0 10px 0; padding:0; font-size:14px; line-height:16px; color:#333; }
h6, h6 a 								{ margin:0 0 10px 0; padding:0; font-size:12px; line-height:16px; color:#333; }
p 										{ margin:0; padding:0 0 20px 0; }
.small-txt								{ font-size:12px; line-height:16px; }
.large-txt								{ font-size:16px; line-height:24px; }
.larger-txt								{ font-size:20px; line-height:26px; }


sup, sub								{ height:0;	line-height:5px; vertical-align:baseline; vertical-align:bottom; position:relative; font-size:80%; }
sup 									{ bottom:10px; }
sub 									{ top:5px; }
code, pre 								{ padding:0 3px 2px; color:#333; font-size:11px; }
code									{ padding:0 4px 2px 4px; background-color:#000; border:1px solid #000; color:#f1f1f1; }
span.example							{ margin-bottom:5px; padding:5px 0 5px 0; background-color:#eee; text-align:center; width:100%; display:block; }

/* lists
----------------------------------------------- */
ul, ol 									{ margin:0 0 20px 2px; }
ul 										{ list-style:none outside; }
ul ul, ul ol							{ margin:5px 0; }
ol ol, ol ul 							{ margin:5px 0 5px 20px; }
ul ul li, ul ol li,	ol ol li, ol ul li 	{ margin:0 0 5px 0; }
ul.square, ul.square ul					{ list-style:square outside; }
ul.circle, ul.circle ul 				{ list-style:circle outside; }
ul.disc, ul.disc ul 					{ list-style:disc outside; }
ul.square li, ul.circle li, ul.disc li	{ margin:0 0 5px 15px; padding:0; line-height:18px; background:none; }
ul.star li								{ margin:0 0 5px 0; padding:0 0 0 18px; line-height:18px; background:transparent url('../images/bullet.png') no-repeat 0 3px; }
ol 										{ margin:0 0 20px 20px; list-style:decimal; }
ol li									{ margin:0 0 5px 0; padding:0; line-height:18px; }



/*====================*/
/*===  Navigation  ===*/
/*====================*/
.nav-container							{ width:100%; background:#242424; /* Old browsers */
background:-moz-linear-gradient(top, #242424 0%, #1b1b1b 5%, #0e0e0e 60%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#242424), color-stop(5%,#1b1b1b), color-stop(60%,#0e0e0e)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* IE10+ */
background:linear-gradient(to bottom,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -o-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); }
.sticky-nav								{ position:fixed; width:100%; top:0; z-index:99;
background:#ddd; /* Old browsers */
background:-moz-linear-gradient(top, #242424 0%, #1b1b1b 5%, #0e0e0e 60%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#242424), color-stop(5%,#1b1b1b), color-stop(60%,#0e0e0e)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* IE10+ */
background:linear-gradient(to bottom,  #242424 0%,#1b1b1b 5%,#0e0e0e 60%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -o-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); }
nav ul									{ display:inline-block; margin:0 auto; }
nav li									{ display:inline-block; list-style:none; margin:0; padding:0; font:bold 16px/16px "Trebuchet MS", Arial, Helvetica, sans-serif; letter-spacing:1px; text-transform:uppercase; text-shadow:none; }
nav li a								{ display:inline-block; color:#fff; padding:18px 30px; text-decoration:none; -webkit-transition:background .1s linear 0s; -moz-transition:background .1s linear 0s; -o-transition:background .1s linear 0s; transition:background .1s linear 0s; }
nav li a:hover							{ color:#e2bb52; }
nav li a.selected						{ color:#000; text-decoration:none; text-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); background:#e2bb52; /* Old browsers */
background:-moz-linear-gradient(top,  #f6d86e 0%, #e2bb52 5%, #b9994e 60%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6d86e), color-stop(5%,#e2bb52), color-stop(60%,#b9994e)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #f6d86e 0%,#e2bb52 5%,#b9994e 60%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #f6d86e 0%,#e2bb52 5%,#b9994e 60%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #f6d86e 0%,#e2bb52 5%,#b9994e 60%); /* IE10+ */
background:linear-gradient(to bottom,  #f6d86e 0%,#e2bb52 5%,#b9994e 60%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d86e', endColorstr='#b9994e',GradientType=0 ); /* IE6-9 */ }
/*nav a#pull								{ display:none; }*/

#selector								{ display:block; position:relative; margin:0 auto; width:180px; height:47px; background:url(../images/selector-bg.png) center top no-repeat; }
nav .selector-wrapper					{ padding:0 10px 0 0; text-align:left; }
nav #selector							{ height:36px; }
#selector li							{ position:relative; display:block; margin:0; background:url(../images/selector-arrow.png) 146px center no-repeat; -webkit-background-size:8px; -moz-background-size:8px; -o-background-size:8px; background-size:8px; text-align:center; z-index:10; letter-spacing:0; }
#selector li.active						{ background-image:url(../images/selector-arrow-up.png); }
#selector li span.ar { content:"&#9660;"; font-size:10px; position:absolute; top:0px; right:35px; }
#selector li a /* parent */				{ display:block; padding:0 0 2px 0; font:14px/36px Georgia, "Times New Roman", Times, serif; color:#43340a; text-transform:uppercase; cursor:pointer; }
#selector li a:hover, #selector a.selected	{ color:#43340a; text-decoration:none; background:none; }
#selector ul /* sub */					{ display:none; position:absolute; width:160px; left:10px; margin:0; padding:0; background:#eddfb4; display:none; z-index:40000; border-top:1px solid #f7c371; border-bottom:5px solid #c89a52; -webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -o-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); }
#selector ul li, #selector ul li.active	{ display:block; zoom:1; background:none; }
#selector ul li:first-child 			{ border-top:5px solid #c89a52; }
#selector ul li:last-child 				{ border-bottom:1px solid #fff1c8; }
#selector ul a							{ display:block; position:relative; padding:8px 0; border-top:1px solid transparent; font:12px/18px Georgia, "Times New Roman", Times, serif; text-transform:uppercase; text-shadow:0px 1px 0px rgba(255, 255, 255, 0.7); -webkit-transition:background .1s linear 0s; -moz-transition:background .1s linear 0s; -o-transition:background .1s linear 0s; transition:background .1s linear 0s; }
#selector ul a:hover { background:#e9ca73; color:#43340a; border-top:1px solid #fff1c8; }
#selector ul a.selected, #selector ul a:hover.selected { background:transparent; color:#ff9122; border-top-color:transparent; }
.tinynav								{ display:none; }

ul.tabs-menu							{ display:inline-block; margin:0 auto 30px auto; text-align:center; }
ul.tabs-menu li							{ display:inline-block; list-style:none; margin:1px 0; padding:0; font:bold 16px/16px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:none; color:#d3ae44; }
ul.tabs-menu li a						{ display:inline-block; color:#d3ae44; padding:6px 8px; text-decoration:none; -webkit-transition:background .2s linear 0s; -moz-transition:background .2s linear 0s; -o-transition:background .2s linear 0s; transition:background .2s linear 0s; }
ul.tabs-menu li a:hover, ul.tabs-menu li.active a { color:#fff; text-decoration:none; background:#d3ae44; }
ul.tabs-menu li:after					{ content:"|"; font-weight:normal; }
ul.tabs-menu li:last-child:after		{ content:""; }

ul.tabs-press							{ display:block; margin:0 auto; }
ul.tabs-press li						{ display:inline-block; list-style:none; margin:0; padding:0; line-height:0; }
ul.tabs-press li a						{ display:inline-block; border:1px solid #f0c33a; background:#d3ae44; padding:4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; text-decoration:none; -webkit-transition:background .2s linear 0s; -moz-transition:background .2s linear 0s; -o-transition:background .2s linear 0s; transition:background .2s linear 0s; }
ul.tabs-press li a:hover, ul.tabs-press li.active a  { color:#fff; text-decoration:none; background:#fff; border-color:#ffdd78; }


/* links
----------------------------------------------- */
a	 									{ color:#43340a; text-decoration:none; outline:0; -webkit-transition:color .1s linear 0s; -moz-transition:color .1s linear 0s; -o-transition:color .1s linear 0s; transition:color .1s linear 0s; }
a:hover, a:focus	 					{ color:#ff9122; text-decoration:none; outline:0; -moz-outline-style:none; }
a img									{ border:none; outline:0; margin:0; padding:0; }
a.dotline								{ border-bottom:1px dotted #43340a; padding:0 0 2px 0; }
a.dotline:hover, a.dotline:focus		{ border-color:#ff9122; }

/* buttons
----------------------------------------------- */
a.btn-download, a:hover.btn-download	{ font-size:16px; font-weight:bold; text-decoration:none; text-transform:uppercase; text-shadow:0px -1px 0px #ad872d; color:#fff; position:relative; padding:8px 46px 8px 16px; background:#f0c33a; /* Old browsers */
background:-moz-linear-gradient(top,  #f0c33a 0%, #c9a643 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0c33a), color-stop(100%,#c9a643)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #f0c33a 0%,#c9a643 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #f0c33a 0%,#c9a643 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #f0c33a 0%,#c9a643 100%); /* IE10+ */
background:linear-gradient(to bottom,  #f0c33a 0%,#c9a643 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0c33a', endColorstr='#c9a643',GradientType=0 ); /* IE6-9 */
-webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px;
-webkit-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .2); -moz-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .2); -o-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .2); box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .2); }
a:active.btn-download					{ top:3px; background:#c9a643; /* Old browsers */
background:-moz-linear-gradient(top,  #c9a643 0%, #f0c33a 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9a643), color-stop(100%,#f0c33a)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top, #c9a643 0%,#f0c33a 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top, #c9a643 0%,#f0c33a 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top, #c9a643 0%,#f0c33a 100%); /* IE10+ */
background:linear-gradient(to bottom, #c9a643 0%,#f0c33a 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a643', endColorstr='#f0c33a',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2); -moz-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2); -o-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2); box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2); }
a.btn-download:before					{ content:""; width:20px; height:20px; position:absolute; right:15px; top:50%; margin-top:-9px; background:url(../images/icon-download.png) center center no-repeat #ad872d; -webkit-background-size:10px; -moz-background-size:10px; -o-background-size:10px; background-size:10px; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%; border-radius:50%;
-webkit-box-shadow:inset 0px 1px 0px #785f25, 0px 1px 0px #ffdd78; -moz-box-shadow:inset 0px 1px 0px #785f25, 0px 1px 0px #ffdd78; -o-box-shadow:inset 0px 1px 0px #785f25, 0px 1px 0px #ffdd78; box-shadow:inset 0px 1px 0px #785f25, 0px 1px 0px #ffdd78; }
a:active.btn-download:before			{ top:50%; margin-top:-12px;
-webkit-box-shadow:inset 0px 1px 0px #ffdd78, 0px 3px 0px #785f25, 0px 3px 3px #a07b25; -moz-box-shadow:inset 0px 1px 0px #ffdd78, 0px 3px 0px #785f25, 0px 3px 3px #a07b25; -o-box-shadow:inset 0px 1px 0px #ffdd78, 0px 3px 0px #785f25, 0px 3px 3px #a07b25; box-shadow:inset 0px 1px 0px #ffdd78, 0px 3px 0px #785f25, 0px 3px 3px #a07b25; }
.btns-app-wrapper						{ text-align:right; }
a.btn-appstore, a:hover.btn-appstore, a.btn-googleplay, a:hover.btn-googleplay { display:inline-block; width:160px; height:58px; position:relative; padding:10px; text-align:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
background:#f0c33a; /* Old browsers */
background:-moz-linear-gradient(top,  #f0c33a 0%, #c9a643 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0c33a), color-stop(100%,#c9a643)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #f0c33a 0%,#c9a643 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #f0c33a 0%,#c9a643 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #f0c33a 0%,#c9a643 100%); /* IE10+ */
background:linear-gradient(to bottom,  #f0c33a 0%,#c9a643 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0c33a', endColorstr='#c9a643',GradientType=0 ); /* IE6-9 */
-webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px;
-webkit-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .1); -moz-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .1); -o-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .1); box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 8px 5px rgba(0, 0, 0, .1); }
a.btn-appstore, a:hover.btn-appstore	{ margin-right:20px; }
a.btn-appstore:before					{ content:""; width:140px; height:38px; position:absolute; margin:1px 0 0 0; background:url(../images/btn-appstore.png) center center no-repeat; -webkit-background-size:140px; -moz-background-size:140px; -o-background-size:140px; background-size:140px; }
a.btn-googleplay:before					{ content:""; width:140px; height:38px; position:absolute; margin:1px 0 0 0; background:url(../images/btn-googleplay.png) center center no-repeat; -webkit-background-size:140px; -moz-background-size:140px; -o-background-size:140px; background-size:140px; }
a:active.btn-appstore, a:active.btn-googleplay { top:3px; background:#c9a643; /* Old browsers */
background:-moz-linear-gradient(top,  #c9a643 0%, #f0c33a 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9a643), color-stop(100%,#f0c33a)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top, #c9a643 0%,#f0c33a 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top, #c9a643 0%,#f0c33a 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top, #c9a643 0%,#f0c33a 100%); /* IE10+ */
background:linear-gradient(to bottom, #c9a643 0%,#f0c33a 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a643', endColorstr='#f0c33a',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2); -moz-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2); -o-box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2); box-shadow:inset 0px 1px 0px #ffdd78, 0px 5px 0px 0px #ad872d, 0px 6px 5px rgba(0, 0, 0, .2);	}

a.btn-footer-appstore					{ display:inline-block; position:relative; margin-right:10px; width:105px; height:39px; background:url(../images/footer-btn-appstore.png) center center no-repeat #222; -webkit-background-size:89px; -moz-background-size:89px; -o-background-size:89px; background-size:89px; text-decoration:none; text-align:center; border:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; }
a.btn-footer-googleplay					{ display:inline-block; position:relative; width:105px; height:39px; background:url(../images/footer-btn-googleplay.png) center center no-repeat #222; webkit-background-size:89px; -moz-background-size:89px; -o-background-size:89px; background-size:89px; text-decoration:none; text-align:center; border:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; }
a:hover.btn-footer-appstore, a:hover.btn-footer-googleplay { background-color:#333; border:none; }

/* back to top
----------------------------------------------- */
#toTop 									{ display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; overflow:hidden; width:51px; height:51px; border:none; text-indent:-999px; background:url(../images/ui.totop.png) no-repeat left top; }
#toTopHover 							{ background:url(../images/ui.totop.png) no-repeat left -51px; width:51px; height:51px; display:block; overflow:hidden; float:left; opacity:0; -moz-opacity:0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus 			{ outline:none; }


/*====================*/
/*=====  Media  ======*/
/*====================*/
img 									{ border:0; -ms-interpolation-mode:bicubic; }
.max-img 								{ width:100%; height:auto; }		
.media 									{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #f0c33a; }
.media iframe, .media object, .media embed { position:absolute; top:0; left:0; width:100%; height:100%; }
.border-img								{ border:1px solid #ccc; background:#fff; padding:4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.menu-img img							{ display:block; border:1px solid #ccc; background:#fff; padding:4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.menu-img:after							{ content:""; display:block; width:100%; height:35px; margin:0 auto; background:url(../images/shadow-menu.png) center top no-repeat; -webkit-background-size:100%; -moz-background-size:100%; -o-background-size:100%; background-size:100%; }
.about-img								{ width:320px; padding:5px; margin:0 auto; }
.about-img img							{ display:block; width:320px; background:#fff; padding:10px 10px 50px 10px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; -webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); -o-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5); }
.about-img:after						{ content:""; display:block; width:100%; height:20px; margin:0 auto; background:url(../images/shadow-menu.png) center top no-repeat; -webkit-background-size:100%; -moz-background-size:100%; -o-background-size:100%; background-size:100%; }
#map_canvas								{ width:100%; height:340px; margin:0 auto; border:1px solid #ccc; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }


/*====================*/
/*=====  Frames  =====*/
/*====================*/
/* forms
----------------------------------------------- */


/* tables
----------------------------------------------- */
.menu-table, .menu-price-table			{ margin:0 0 14px 0; table-layout:fixed; }
.menu-table td, .menu-price-table td	{ padding:0 20px 6px 0; }
.menu-table.set td						{ padding-bottom:3px; }
.menu-table td:first-child				{ width:35%; text-align:right; }
.menu-table td:last-child				{ width:65%; padding-right:0; }
.menu-price-table td:first-child, .menu-price-table td.chi { width:30%; text-align:right; }
.menu-price-table td.eng				{ width:55%; }
.menu-price-table td.eng2				{ width:50%; }
.menu-price-table td.s					{ width:5%; }
.menu-price-table td.m					{ width:5%; }
.menu-price-table td:last-child, .menu-price-table td.l { width:5%; padding-right:0; }

.gallery-table							{ table-layout:fixed; }
.gallery-table td						{ padding:0 0 16px 0; }
.gallery-table td.space					{ width:20px; }


/*====================*/
/*=====  Custom  =====*/
/*====================*/
header									{ text-align:center; height:180px; background:url(../images/header-bg.jpg) center bottom no-repeat #000; -webkit-background-size:1260px; -moz-background-size:1260px; -o-background-size:1260px; background-size:1260px; }
header .logo							{ display:block; position:relative; width:330px; height:90px; margin:22px auto 14px auto; background:url(../images/uncle-leong-seafood-logo.png) center center no-repeat; -webkit-background-size:330px; -moz-background-size:330px; -o-background-size:330px; background-size:330px; }
header .logo:active						{ top:2px; }
header .logo.home						{ width:360px; height:108px; margin-top:45px; -webkit-background-size:360px; -moz-background-size:360px; -o-background-size:360px; background-size:360px; }
#outlets								{ height:100px; padding:30px 0; background:url(../images/home/outlets-bg.jpg) center center #000; }
#outlets:before							{ background:none; }
.outlet									{ height:100px; text-align:center; position:relative; }
.outlet a								{ display:block; width:100%; height:100px; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;  }
.outlet .label							{ display:block; position:absolute; width:180px; height:50px; left:50%; top:50%; margin-left:-90px; margin-top:-20px; font:14px/40px Georgia, "Times New Roman", Times, serif; color:#43340a !important; text-transform:uppercase; background:url(../images/selector-bg.png) center bottom no-repeat; }
.outlet .bg								{ height:100%; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; -webkit-transition:opacity .2s linear 0s; -moz-transition:opacity .2s linear 0s; -o-transition:opacity .2s linear 0s; transition:opacity .2s linear 0s; }
.outlet a:hover .bg						{ filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1; }
.outlet .punggol						{ background:url(../images/home/outlet-punggol.jpg) center center no-repeat; }
.outlet .toapayoh						{ background:url(../images/home/outlet-toapayoh.jpg) center center no-repeat; }
.outlet .jurongeast						{ background:url(../images/home/outlet-jurongeast.jpg) center center no-repeat; }

#intro									{ background:#fff; padding-bottom:0; }
#mobileapp .appicon						{ text-align:right; }
#mobileapp .btns-app-wrapper			{ text-align:left; }
#gallery								{ padding-bottom:50px; }
.getapp									{ padding:7px 0 7px 90px; background:url(../images/app-icon.png) 0 0 no-repeat; -webkit-background-size:64px; -moz-background-size:64px; -o-background-size:64px; background-size:64px; }
footer									{ background:#000; padding:60px 0; color:#aaa; text-shadow:none; }
footer h3, footer h3 a					{ font-size:16px; line-height:22px; text-transform:uppercase; margin-bottom:5px; color:#ddd; }
footer a								{ color:#aaa; text-decoration:none; }
footer a:hover, footer a:focus			{ color:#ddd; border-bottom:1px dotted #ddd; padding:0; }
footer .logo							{ display:block; width:180px; height:48px; margin-bottom:10px; background:url(../images/footer-logo.png) center center no-repeat; -webkit-background-size:180px; -moz-background-size:180px; -o-background-size:180px; background-size:180px; }
footer .divider-small					{ width:100%; height:1px; margin:10px 0; background:#333; }
footer .divider							{ width:100%; height:1px; margin:20px 0; background:#666; }
footer .fa-ul						{ margin-left:20px; }
footer .fa-ul a						{ border:none; }
#facebook-main, #facebook-strip, #facebook-strip-jurong, #facebook-strip-tpy, #facebook-footer { width:100%; z-index:2; }
.dish-sig								{ display:inline; width:14px; height:14px; background:url(../images/icon-signature.png) center right no-repeat; -webkit-background-size:14px; -moz-background-size:14px; -o-background-size:14px; background-size:14px; padding-left:6px; }
.dish-spicy								{ display:inline; width:14px; height:14px; background:url(../images/icon-spicy.png) center right no-repeat; -webkit-background-size:14px; -moz-background-size:14px; -o-background-size:14px; background-size:14px; padding-left:6px; }
.sig-dish-name							{ position:absolute; top:35%; left:55px; z-index:3; font-size:32px; line-height:34px; color:#d3ae44; }
.orange-bg								{ position:relative; background:url(../images/orange-bg.jpg); color:#fff; text-shadow:0px 1px 0px rgba(0, 0, 0, 0.3); padding-bottom:0; }
/*.orange-bg:after						{ position:absolute; content:""; display:block; background:url(../images/orange-gradient.png) center top repeat-x; width:100%; height:200px; bottom:0; }*/
.orange-bg-shadow						{ width:100%; height:100%; background:url(../images/orange-gradient.png) center bottom repeat-x; z-index:1; padding-bottom:60px; }
.gold									{ color:#d3ae44; }


/*====================*/
/*== Device Specific =*/
/*====================*/

/* screen 960px
----------------------------------------------- */
.top			 						{ margin:30px auto 0 auto; }
.base									{ margin:0 auto 30px auto; }

/* screen bigger than 1400px
----------------------------------------------- */
@media only screen and (min-width:1400px) {

h1, h1 a								{ font-size:36px; line-height:38px; }

a.btn-appstore, a:hover.btn-appstore, a.btn-googleplay, a:hover.btn-googleplay { width:180px; height:63px; }
a.btn-appstore:before, a.btn-googleplay:before { -webkit-background-size:160px; -moz-background-size:160px; -o-background-size:160px; background-size:160px; width:160px; height:43px; }
a.btn-footer-appstore, a.btn-footer-googleplay { width:135px; height:50px; -webkit-background-size:114px; -moz-background-size:114px; -o-background-size:114px; background-size:114px; }

.about-img, .about-img img				{ width:360px; }
.about-img:after						{ height:22px; }

header									{ height:200px; -webkit-background-size:1400px; -moz-background-size:1400px; -o-background-size:1400px; background-size:1400px; }
header .logo							{ width:360px; height:108px; margin:25px auto 5px auto; -webkit-background-size:360px; -moz-background-size:360px; -o-background-size:360px; background-size:360px; }
header .logo.home						{ width:380px; height:114px; margin-top:45px; -webkit-background-size:380px; -moz-background-size:380px; -o-background-size:380px; background-size:380px; }
.getapp									{ padding:11px 0 11px 90px; -webkit-background-size:72px; -moz-background-size:72px; -o-background-size:72px; background-size:72px; }
.sig-dish-name							{ top:35%; left:70px; z-index:3; font-size:36px; line-height:38px; }
}

/* tablet smaller than 959px
----------------------------------------------- */
@media only screen and (min-width:768px) and (max-width:959px) {
section									{ padding:40px 0; }

nav ul									{ display:inline-block; margin:0 auto; }
nav li									{ font-size:14px; line-height:14px; }
nav li a								{ padding:16px 14px; }

h1, h1 a								{ font-size:28px; line-height:30px; margin-bottom:20px; padding-bottom:2px; }
h1:before, h1:before a, h1:after, h1:after a { width:66px; height:34px; -webkit-background-size:66px; -moz-background-size:66px; -o-background-size:66px; background-size:66px; }
h1:before, h1:before a					{ margin-right:15px; }
h1:after, h1:after a					{ margin-left:15px; }

.larger-txt								{ font-size:18px; line-height:24px; }

#selector								{ width:160px; height:32px; -webkit-background-size:160px; -moz-background-size:160px; -o-background-size:160px; background-size:160px; }
nav .selector-wrapper					{ display:inline-block; padding-right:5px; }
#selector li							{ background-position:130px center; }
#selector li a /* parent */				{ font-size:13px; line-height:32px; }
#selector ul /* sub */					{ width:140px; }
#selector ul a							{ padding:6px 0; font-size:11px; line-height:16px; }

.flex-direction-nav a					{ width:29px; height:34px; webkit-background-size:58px; -moz-background-size:58px; -o-background-size:58px; background-size:58px; }

.outlet .label							{ width:160px; height:42px; margin-left:-80px; margin-top:-18px; font-size:13px; line-height:32px; -webkit-background-size:160px; -moz-background-size:160px; -o-background-size:160px; background-size:160px; }

a.btn-appstore, a:hover.btn-appstore, a.btn-googleplay, a:hover.btn-googleplay { width:136px; height:48px; padding:8px; }
a.btn-appstore:before, a.btn-googleplay:before { -webkit-background-size:120px; -moz-background-size:120px; -o-background-size:120px; background-size:120px; width:120px; height:32px; }
a.btn-footer-appstore					{ margin-bottom:10px; }

.about-img, .about-img img				{ width:280px; }
.about-img:after						{ height:18px; }

header									{ height:130px; -webkit-background-size:1000px; -moz-background-size:1000px; -o-background-size:1000px; background-size:1000px; }
header .logo							{ width:300px; height:90px; margin:25px auto 5px auto; -webkit-background-size:300px; -moz-background-size:300px; -o-background-size:300px; background-size:300px; }
header .logo.home						{ width:320px; height:96px; margin-top:20px; -webkit-background-size:320px; -moz-background-size:320px; -o-background-size:320px; background-size:320px; }
footer .logo							{ width:172px; height:46px; -webkit-background-size:172px; -moz-background-size:172px; -o-background-size:172px; background-size:172px; }

.getapp									{ padding:6px 0 6px 80px; -webkit-background-size:60px; -moz-background-size:60px; -o-background-size:60px; background-size:60px; }
.sig-dish-name							{ top:35%; left:35px; z-index:3; font-size:26px; line-height:28px; }
.orange-bg-shadow						{ padding-bottom:30px; }

}

/* phone (potrait 300px)
----------------------------------------------- */
@media only screen and (max-width:767px) {
body									{ font-size:13px; line-height:20px; }
section									{ padding:20px 0 25px 0; }

/*nav ul								{ display:none; width:100%; height:auto; float:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
nav li									{ display:block; margin:0; font-size:12px; line-height:12px; letter-spacing:0; }
nav li a								{ display:block; width:100%; margin:0 auto 12px auto; padding:0; }
nav li a:hover, nav li a.selected		{ color:#e2bb52; background:none; text-shadow:none; }
nav a#pull								{ display:block; position:relative; float:right; width:100%; height:34px; z-index:5; background:url('../images/nav-icon.png') right center no-repeat; }*/

nav ul									{ display:inline-block; margin:0 auto; }
nav li									{ font-size:12px; line-height:12px; letter-spacing:0; }
nav li a								{ padding:12px 8px; }
/*nav li a:hover, nav li a.selected		{ color:#e2bb52; background:none; text-shadow:none; }*/

#selector								{ width:160px; height:32px; -webkit-background-size:160px; -moz-background-size:160px; -o-background-size:160px; background-size:160px; }
nav #selector							{ display:none !important; }
nav .selector-wrapper					{ display:inline-block; padding-right:5px; }
#selector li							{ background-position:130px center; }
#selector li a /* parent */				{ font-size:13px; line-height:32px; }
#selector ul /* sub */					{ width:140px; }
#selector ul a							{ padding:6px 0; font-size:11px; line-height:16px; }
.tinynav								{ display:block; width:auto; position:relative; float:left; margin:0 auto 5px auto; padding:3px; font:12px/12px Georgia, "Times New Roman", Times, serif; text-transform:uppercase; background:#fff; text-align:center; }

ul.tabs-menu li							{ font-size:14px; line-height:14px; }
ul.tabs-menu li a						{ padding:4px 6px; }

.flex-direction-nav a					{ width:17px; height:20px; webkit-background-size:34px; -moz-background-size:34px; -o-background-size:34px; background-size:34px; top:40%; }
.flex-control-nav 						{ bottom:-25px; }
.flex-control-nav li 					{ margin: 0 5px; }
.flex-control-paging li a				{ width:7px; height:7px; }

h1, h1 a								{ font-size:26px; line-height:28px; margin-bottom:15px; padding-bottom:2px; }
h1:before, h1:before a, h1:after, h1:after a { width:50px; height:26px; -webkit-background-size:50px; -moz-background-size:50px; -o-background-size:50px; background-size:50px; }
h1:before, h1:before a					{ margin-right:10px; }
h1:after, h1:after a					{ margin-left:10px; }
.large-txt								{ font-size:14px; line-height:22px; }
.larger-txt								{ font-size:18px; line-height:24px; }

.outlet									{ height:42px; text-align:center; }
.outlet a								{ display:block; width:100%; height:42px; padding:0; }
.outlet .label							{ width:160px; height:42px; margin-left:-80px; margin-top:-21px; font-size:13px; line-height:32px; -webkit-background-size:160px; -moz-background-size:160px; -o-background-size:160px; background-size:160px; }
.outlet .punggol, .outlet .toapayoh, .outlet .jurongeast { background:none; }

.gallery-table td						{ padding-bottom:6px; }
.gallery-table td.space					{ width:10px; }
.menu-table td, .menu-price-table td	{ padding-right:10px; }
.menu-price-table td:first-child, .menu-price-table td.chi { width:25%; }
.menu-price-table td.eng				{ width:45%; }
.menu-price-table td.eng2				{ width:40%; }
.menu-price-table td.s					{ width:10%; }
.menu-price-table td.m					{ width:10%; }
.menu-price-table td:last-child, .menu-price-table td.l { width:10%; }

.btns-app-wrapper						{ text-align:center !important; }
a.btn-appstore, a:hover.btn-appstore, a.btn-googleplay, a:hover.btn-googleplay { width:136px; height:48px; padding:8px; }
a.btn-appstore:before, a.btn-googleplay:before { -webkit-background-size:120px; -moz-background-size:120px; -o-background-size:120px; background-size:120px; width:120px; height:32px; }
a.btn-footer-appstore					{ margin-bottom:10px; }

.menu-img:after							{ height:19px; }
.about-img, .about-img img				{ width:280px; }
.about-img:after						{ height:18px; }
#map_canvas								{ width:80%; height:200px; }

header									{ height:120px; -webkit-background-size:1000px; -moz-background-size:1000px; -o-background-size:1000px; background-size:1000px; }
header .logo							{ width:220px; height:66px; margin:0 auto; -webkit-background-size:220px; -moz-background-size:220px; -o-background-size:220px; background-size:220px; }
header .logo.home						{ width:260px; height:78px; margin-top:15px; -webkit-background-size:260px; -moz-background-size:260px; -o-background-size:260px; background-size:260px; }
footer									{ padding:30px 0; text-align:center; }
footer .logo							{ margin:0 auto 10px auto; }
footer .divider-small					{ margin:5px 0; }
footer .fa-ul						{ width:80%; margin:0 auto 20px auto; }
#facebook-footer						{ width:200px !important; margin:0 auto; }
#outlets								{ height:126px; padding:12px 0 4px 0; }
#mobileapp .appicon						{ text-align:center; }
#mobileapp .btn-appstore, #mobileapp .btn-appstore:hover { margin-bottom:0; }


#gallery								{ padding-bottom:14px; }

.getapp									{ padding:6px 0 6px 80px; background-position:0 10px; -webkit-background-size:60px; -moz-background-size:60px; -o-background-size:60px; background-size:60px; }
.sig-dish-name							{ display:block; position:relative; top:0; left:0; padding:5px 5px 3px 5px; font-size:14px; line-height:14px; text-align:center; }
.orange-bg-shadow						{ padding-bottom:20px; }

}

/* phone (landscape 420px)
----------------------------------------------- */
@media only screen and (min-width:480px) and (max-width:767px) {

/*nav ul								{ padding-left:20px; }
nav li									{ width:50%; float:left; text-align:left; }
.tinynav								{ margin-bottom:10px; }*/

.flex-direction-nav a					{ width:29px; height:34px; webkit-background-size:58px; -moz-background-size:58px; -o-background-size:58px; background-size:58px; }

.menu-img								{ width:300px; margin:0 auto; }
.menu-img:after							{ height:19px; }

.menu-table tr td:first-child			{ width:40%; }
.menu-table tr td:last-child			{ width:60%; }

.getapp									{ background-position:0 0; }
}

/* retina
----------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {

.flex-direction-nav a					{ background-image:url(../images/slider-direction-nav2x.png); }

#selector, .outlet .label				{ background-image:url(../images/selector-bg2x.png); }
#selector li							{ background-image:url(../images/selector-arrow2x.png); }
#selector li.active						{ background-image:url(../images/selector-arrow-up2x.png); }

h1:before, h1:before a					{ background-image:url(../images/emblem-left2x.png); }
h1:after, h1:after a					{ background-image:url(../images/emblem-right2x.png); }
h1.white:before, h1.white:before a		{ background-image:url(../images/emblem-left-white2x.png); }
h1.white:after, h1.white:after a		{ background-image:url(../images/emblem-right-white2x.png); }

a.btn-download:before					{ background-image:url(../images/icon-download2x.png); }
a.btn-appstore:before					{ background-image:url(../images/btn-appstore2x.png); }
a.btn-googleplay:before					{ background-image:url(../images/btn-googleplay2x.png); }

footer .logo							{ background-image:url(../images/footer-logo2x.png); }
a.btn-footer-appstore					{ background-image:url(../images/footer-btn-appstore2x.png); }
a.btn-footer-googleplay					{ background-image:url(../images/footer-btn-googleplay2x.png); }
footer .add								{ background-image:url(../images/footer-icon-pin2x.png); }
footer .tel								{ background-image:url(../images/footer-icon-tel2x.png); }

.dish-sig								{ background-image:url(../images/icon-signature2x.png); }
.dish-spicy								{ background-image:url(../images/icon-spicy2x.png); }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image:url('../images/fancybox_sprite@2x.png'); background-size:44px 152px; }
#fancybox-loading div { background-image:url('../images/fancybox_loading@2x.gif'); background-size:24px 24px; }
}