@charset "utf-8";
/*====================*/
/*==  Amazium V1.3  ==*/
/*==  Mike Ballan   ==*/
/*==  amazium.co.uk ==*/
/*====================*/

/*====================*/
/*======  Grid  ======*/
/*====================*/

/* screen 960px
----------------------------------------------- */
.row 								{ margin:0 auto; width:960px; overflow:hidden; }
.row .row 							{ margin:0 -10px; width:auto; display:inline-block; }
.grid_1								{ width:60px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_2 							{ width:140px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_3 							{ width:220px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_4 							{ width:300px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_5 							{ width:380px; margin:0 10px; overflow:hidden; float:left; display:inline; }		
.grid_6 							{ width:460px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_7 							{ width:540px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_8 							{ width:620px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_9								{ width:700px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_10							{ width:780px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_11							{ width:860px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_12							{ width:940px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.offset_1							{ margin-left:90px; }
.offset_2							{ margin-left:170px; }
.offset_3 							{ margin-left:250px; }
.offset_4 							{ margin-left:330px; }
.offset_5 							{ margin-left:410px; }
.offset_6 							{ margin-left:490px; }
.offset_7 							{ margin-left:570px; }
.offset_8 							{ margin-left:650px; }
.offset_9							{ margin-left:730px; }
.offset_10							{ margin-left:810px; }
.offset_11							{ margin-left:890px; }
.show-phone, .show-phone-portrait, .show-phone-landscape { display:none !important; }
.show-tablet, .show-tablet-inline	{ display:none !important; }
.show-screen, .show-screen-960		{ display:inherit !important; }
.show-screen-1400					{ display:none !important; }
.hide-phone, .hide-phone-portrait	{ display:inherit !important; }
.hide-phone-inline					{ display:inline !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:none !important; }

/* screen bigger than 1400px
----------------------------------------------- */
@media only screen and (min-width:1400px) {
.row 								{ margin:0 auto; width:1200px; overflow:hidden; }
.row .row 							{ margin:0 -10px; width:auto; display:inline-block; }
.grid_1								{ width:80px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_2 							{ width:180px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_3 							{ width:280px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_4 							{ width:380px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_5 							{ width:480px; margin:0 10px; overflow:hidden; float:left; display:inline; }		
.grid_6 							{ width:580px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_7 							{ width:680px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_8 							{ width:780px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_9								{ width:880px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_10							{ width:980px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_11							{ width:1080px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_12							{ width:1180px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.offset_1							{ margin-left:110px; }
.offset_2							{ margin-left:210px; }
.offset_3 							{ margin-left:310px; }
.offset_4 							{ margin-left:410px; }
.offset_5 							{ margin-left:510px; }
.offset_6 							{ margin-left:610px; }
.offset_7 							{ margin-left:710px; }
.offset_8 							{ margin-left:810px; }
.offset_9							{ margin-left:910px; }
.offset_10							{ margin-left:1010px; }
.offset_11							{ margin-left:1110px; }
.show-phone, .show-phone-portrait, .show-phone-landscape	{ display:none !important; }
.show-tablet, .show-tablet-inline	{ display:none !important; }
.show-screen, .show-screen-1400		{ display:inherit !important; }
.show-screen-960					{ display:none !important; }
.hide-phone, .hide-phone-portrait	{ display:inherit !important; }
.hide-phone-inline					{ display:inline !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:none !important; }
}

/* tablet smaller than 959px
----------------------------------------------- */
@media only screen and (min-width:768px) and (max-width:959px) {
.row 								{ margin:0 auto; width:768px; overflow:hidden; }
.row .row 							{ margin:0 -14px 0 -14px; width:auto; display:inline-block; }		
.grid_1								{ width:44px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_2 							{ width:108px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_3 							{ width:172px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_4								{ width:236px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_5 							{ width:300px; margin:0 10px; overflow:hidden; float:left; display:inline; }		
.grid_6 							{ width:364px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_7 							{ width:428px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_8 							{ width:492px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_9								{ width:556px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_10							{ width:620px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_11							{ width:684px; margin:0 10px; overflow:hidden; float:left; display:inline; }
.grid_12							{ width:740px; margin:0 14px; overflow:hidden; float:left; display:inline; }		
.offset_1							{ margin-left:74px; }
.offset_2							{ margin-left:138px; }
.offset_3 							{ margin-left:202px; }
.offset_4 							{ margin-left:266px; }
.offset_5 							{ margin-left:330px; }
.offset_6 							{ margin-left:394px; }
.offset_7 							{ margin-left:458px; }
.offset_8 							{ margin-left:522px; }
.offset_9							{ margin-left:586px; }
.offset_10							{ margin-left:650px; }
.offset_11							{ margin-left:714px; }	
.show-phone, .show-phone-portrait, .show-phone-landscape	{ display:none !important; }
.show-tablet 						{ display:inherit !important; }
.show-tablet-inline					{ display:inline !important; }
.show-screen						{ display:none !important; }
.show-screen-960, .show-screen-1400	{ display:none !important; }
.hide-phone, .hide-phone-portrait	{ display:inherit !important; }
.hide-phone-inline					{ display:inline !important; }
.hide-tablet						{ display:none !important; }
.hide-screen						{ display:inherit !important; }	
}

/* phone (portrait 300px)
----------------------------------------------- */
@media only screen and (max-width:767px) {
.row 								{ margin:0 auto; width:300px; overflow:hidden; }
.row .row 							{ margin:0; width:auto; display:inline-block; }
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	width:300px; margin:10px 0 0 0; overflow:hidden; float:left; display:inline; }
.offset_1, .offset_2, .offset_3, .offset_4, .offset_5, .offset_6, .offset_7, .offset_8, .offset_9, .offset_10, .offset_11 {
	margin-left:0; }
.show-phone, .show-phone-portrait	{ display:inherit !important; }
.show-phone-landscape				{ display:none !important; }
.show-tablet, .show-tablet-inline	{ display:none !important; }
.show-screen						{ display:none !important; }
.show-screen-960, .show-screen-1400	{ display:none !important; }
.hide-phone, .hide-phone-inline, .hide-phone, .hide-phone-portrait { display:none !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:inherit !important; }
}	 

/* phone (landscape 420px)
----------------------------------------------- */
@media only screen and (min-width:480px) and (max-width:767px) {
.row 								{ margin:0 auto; width:456px; overflow:hidden; }
.row .row 							{ margin:0; width:auto; display:inline-block; }	
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	width:456px; margin:10px 0 0 0; overflow:hidden; float:left; display:inline; }
.show-phone, .show-phone-landscape	{ display:inherit !important; }
.show-phone-portrait				{ display:none !important; }
.show-tablet, .show-tablet-inline	{ display:none !important; }
.show-screen						{ display:none !important; }
.show-screen-960, .show-screen-1400 { display:none !important; }
.hide-phone, .hide-phone-inline		{ display:none !important; }
.hide-phone-portrait				{ display:inline-block !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:inherit !important; }
}


/*====================*/
/*=====  Global  =====*/
/*====================*/
.img-left   						{ float:left; margin:0 30px 30px 0; border:none; }
.img-right  						{ float:right; margin:0 0 30px 30px; border:none; }
.clear       						{ clear:both; }
.float-left 						{ float:left; }
.float-right   						{ float:right; }
.text-left    						{ text-align:left !important; }
.text-right    						{ text-align:right !important; }
.text-center   						{ text-align:center !important; }
.text-justify  						{ text-align:justify !important; }
.normal								{ font-weight:normal; }
.bold          						{ font-weight:bold; }
.italic        						{ font-style:italic; }
.underline     						{ border-bottom:1px solid; }
.highlight     						{ padding:0 3px 2px; color:#333; font-size:11px; background:#00deff; font-weight:bold; }
.intro								{ font-size:130%; line-height:130%; }
.nopadding 						   	{ padding:0; }
.noindent  						   	{ margin-left:0; padding-left:0; }
.nobullet  					   		{ list-style:none; list-style-image:none; }
.block								{ display:block; }
.inline-b							{ display:inline-block; }
.hide 								{ display:none; }
.of-visible							{ overflow:visible; }
.v-show								{ visibility:visible; }
.v-hidden							{ visibility:hidden; }
.mar-top-0							{ margin-top:0 !important; }
.mar-top-5							{ margin-top:5px !important; }
.mar-top-10							{ margin-top:10px !important; }
.mar-top-20							{ margin-top:20px !important; }
.mar-bot-0							{ margin-bottom:0 !important; }
.mar-bot-10							{ margin-bottom:10px !important; }
.mar-right-10						{ margin-right:10px !important; }
.mar-right-20						{ margin-right:20px !important; }
.pad-top-10							{ padding-top:10px !important; }
.pad-bot-0							{ padding-bottom:0 !important }


/*====================*/
/*====  Clean Up  ====*/
/*====================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
ol, ul { list-style:none; }

/* clear floated elements
----------------------------------------------- */
/* sonspring.com/journal/clearing-floats */
html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background:none; border:0; clear:both; display:block; float:none; font-size:0; list-style:none; margin:0; padding:0; overflow:hidden; visibility:hidden; width:0; height:0;
}
.container:after 					{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix:before, .clearfix:after, .row:before, .row:after { content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.row:after,	.clearfix:after 		{ clear:both; }
.row, .clearfix 					{ zoom:1; }
.clear 								{ clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;	}


/*====================*/
/*===  Flex Slider ===*/
/*====================*/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline:none; }
.slides, .flex-control-nav, .flex-direction-nav { margin:0; padding:0; list-style:none; } 
.flexslider { margin:0 auto 20px auto; padding:0;  }
.flexslider .slides > li { display:none; -webkit-backface-visibility:hidden; position:relative; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides li { background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; position:relative; }
.flexslider .slides h3 { color:#fff; }
.flexslider .line-separator-small { margin:10px 0 10px 0; background:#fff; }
.flexslider .slides img { width:100%; display:block; position:relative; }
.flex-pauseplay span {text-transform:capitalize;}
.slides:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;} 
html[xmlns] .slides {display:block;} 
* html .slides {height:1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display:block;}

/* default theme
----------------------------------------------- */
.flexslider { position:relative; display:block; border:1px solid #ccc; background:#fff; padding:4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.flexslider:after { content:""; position:absolute; display:block; width:100%; height:50px; margin:5px auto 0 auto; background:url(../images/shadow-slider.png) center top no-repeat; -webkit-background-size:100%; -moz-background-size:100%; -o-background-size:100%; background-size:100%; z-index:1; }
.loading .flex-viewport { max-height:300px; }
.flexslider .slides { zoom:1; }
.carousel li { margin-right:5px; }

/* directional nav
----------------------------------------------- */
.flex-direction-nav { *height:0;}
.flex-direction-nav a { width:34px; height:40px; margin:0; display:block; background:url(../images/slider-direction-nav.png) no-repeat 0 0 #d3ae44; position:absolute; top:44%; cursor:pointer; text-indent:-9999px; opacity:0; -webkit-transition:all .3s ease; z-index:2; }
.flex-direction-nav .flex-next { background-position:100% 0; right:0; }
.flex-direction-nav .flex-prev { left:0;}
.flexslider:hover .flex-next { opacity:1; right:0; }
.flexslider:hover .flex-prev { opacity:1; left:0; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { background-color:#dcbe69; }
.flex-direction-nav .flex-disabled { opacity:.3!important; filter:alpha(opacity=30); cursor:default; }

/* control nav
----------------------------------------------- */
.flex-control-nav { width:100%; position:absolute; bottom:-30px; text-align:center; z-index:2; }
.flex-control-nav li { margin:0 6px; display:inline-block; zoom:1; *display:inline; }
.flex-control-paging li a { width:10px; height:10px; display:block; background:#ccc; cursor:pointer; text-indent:-9999px; -webkit-border-radius:20px; -moz-border-radius:20px; -o-border-radius:20px; border-radius:20px; -webkit-box-shadow:inset 0px 1px 0px rgba(0, 0, 0, .5); -moz-box-shadow:inset 0px 1px 0px rgba(0, 0, 0, .5); -o-box-shadow:inset 0px 1px 0px rgba(0, 0, 0, .5); box-shadow:inset 0px 1px 0px rgba(0, 0, 0, .5); }
.flex-control-paging li a:hover { background:#d3ae44; }
.flex-control-paging li a.flex-active { background:#d3ae44; -webkit-box-shadow:inset 1px 1px 0px px rgba(0, 0, 0, .5); -moz-box-shadow:inset 1px 1px 0px px rgba(0, 0, 0, .5); -o-box-shadow:inset 1px 1px 0px px rgba(0, 0, 0, .5); box-shadow:inset 1px 1px 0px px rgba(0, 0, 0, .5); }


/*====================*/
/*====  FancyBox  ====*/
/*====================*/
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding:0; margin:0; border:0; outline:none; vertical-align:top; }
.fancybox-wrap { position:absolute; top:0; left:0; z-index:8020; }
.fancybox-skin { position:relative; background:#fff; color:#444; text-shadow:none; /*-webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px;*/ }
.fancybox-opened { z-index:8030; }
.fancybox-opened .fancybox-skin { -webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5); -o-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5); box-shadow:0 10px 25px rgba(0, 0, 0, 0.5); }
.fancybox-outer, .fancybox-inner { position:relative; }
.fancybox-inner { overflow:hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling:touch; }
.fancybox-error { color:#444; font:14px/20px Helvetica, Arial, sans-serif; margin:0; padding:15px; white-space:nowrap; }
.fancybox-image, .fancybox-iframe {	display:block; width:100%; height:100%; }
.fancybox-image { max-width:100%; max-height:100%; }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image:url('../images/fancybox_sprite.png'); }
#fancybox-loading {	position:fixed;	top:50%; left:50%; margin-top:-22px; margin-left:-22px;	background-position:0 -108px; opacity:0.8; cursor:pointer; z-index:8060; }
#fancybox-loading div {	width:44px;	height:44px; background:url('../images/fancybox_loading.gif') center center no-repeat; }
.fancybox-close { position:absolute; top:-18px;	right:-18px; width:36px; height:36px; cursor:pointer; z-index:8040; }
.fancybox-nav { position:absolute; top:0; width:40%; height:100%; cursor:pointer; text-decoration:none; background:transparent url('../images/blank.gif'); -webkit-tap-highlight-color:rgba(0,0,0,0); z-index:8040; }
.fancybox-prev { left:0; }
.fancybox-next { right:0; }
.fancybox-nav span { position:absolute;	top:50%; width:36px; height:34px; margin-top:-18px;	cursor:pointer;	z-index:8040; visibility:hidden; }
.fancybox-prev span { left:10px; background-position:0 -36px; }
.fancybox-next span { right:10px; background-position:0 -72px; }
.fancybox-nav:hover span { visibility:visible; }
.fancybox-tmp { position:absolute; top:-99999px; left:-99999px;	visibility:hidden;	max-width:99999px; max-height:99999px; overflow:visible !important; }

/* overlay
----------------------------------------------- */
.fancybox-lock { overflow:hidden !important; width:auto; }
.fancybox-lock body { overflow:hidden !important; }
.fancybox-lock-test { overflow-y:hidden !important; }
.fancybox-overlay {	position:absolute; top:0; left:0; overflow:hidden; display:none; z-index:8010; background:rgba(25, 23, 18, .8); }
.fancybox-overlay-fixed { position:fixed; bottom:0;	right:0; }
.fancybox-lock .fancybox-overlay { overflow:auto; overflow-y:scroll; }

/* title
----------------------------------------------- */
.fancybox-title { visibility:hidden; font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;	position:relative; text-shadow:none; z-index:8050; }
.fancybox-opened .fancybox-title { visibility:visible; }
.fancybox-title-float-wrap { position:absolute;	bottom:0; right:50%; margin-bottom:-35px; z-index:8050;	text-align:center; }
.fancybox-title-float-wrap .child { display:inline-block; margin-right:-100%; padding:2px 20px; background:transparent; /* Fallback for web browsers that doesn't support RGBa */ background:rgba(0, 0, 0, 0.8); -webkit-border-radius:15px; -moz-border-radius:15px; -o-border-radius:15px; border-radius:15px; text-shadow:0 1px 2px #222; color:#fff; font-weight:bold; line-height:24px; white-space:nowrap; }
.fancybox-title-outside-wrap { position:relative; margin-top:10px; color:#fff; }
.fancybox-title-inside-wrap { padding-top:10px; }
.fancybox-title-over-wrap {	position:absolute; bottom:0; left:0; color:#fff; padding:10px; background:#000;	background:rgba(0, 0, 0, .8); }