<div class="container">
	<div class="w50">
		<div class="logo">
	        <a href="#"><img src="images/logo.jpg"></a>
	    </div>
	    <div class="clearfix"></div>
	    <div class="site-map">
	    	<a href="#">Home</a>
	    	<a href="#">About Us</a>
	    	<a href="#">Menu</a>
	    	<a href="#">Photo Galleries</a>
	    	<a href="#">News/ Promotion</a>
	    	<a href="#">Contact/ Reservation</a>
	    </div>
	</div>
	<div class="w50 text-center">
		<div class="address">
			<span>In Singapore:</span><br/>
			Ubin First Stop Restaurant ( Changi )<br/>
			57 Lorong Bekukong, Singapore 499173<br/>
			Tel : 6546 5905 Fax : 6546 5910<br/>
			Opens Daily from 11.30am to 11.00 pm
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="copy-right-text">
	Copyright © 2008 ubin first restaurant. All Rights Reserved. Website Hosting by singhost.
</div>