
<div class="nav-container" style="height: auto;">
    <nav class="" style="top: 0px;">
        <a class="makes-reservation">
            makes reservation
        </a>
    	<!--<a href="#" id="pull">&nbsp;</a>-->
        <div class="of-visible">
            <div class="mar-top-0 text-center of-visible">
                  <ul>
                  	<li class="selector-wrapper menu-logo hide">
                    	<a href="#"><img src="images/logo.jpg"></a>
                    </li>
                    <li><a href="#" class="scroll">Home</a></li>
                    <li><a href="#" class="scroll selected">About us</a></li>
                    <li><a href="#" class="scroll">Menu</a></li>
                    <li><a href="#" class="scroll">Photo galleries</a></li>
                    <li><a href="#" class="scroll">News/promotion</a></li>
                    <li><a href="#" class="scroll">Contact / reservation</a></li>
                  </ul>
            </div>
        </div>
    </nav>
</div>